@import '../assets/variables/font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$background: #000;
$foreground: #e1e1e1;

$primary100: #CCE0FF;
$primary200: #4D94FF;
$primary300: #0066FF;
$primary400: #003D99;

$secondary100: #BFE5C6;
$secondary200: #8FD29C;
$secondary300: #5FBE71;
$secondary400: #397244;

$NeutralDark100: #444444;
$NeutralDark200: #2C2C2C;
$NeutralDark300: #262626;
$NeutralDark400: #1F1F1F;

$NeutralLight100: #F5F5F5;
$NeutralLight200: #CCCCCC;
$NeutralLight300: #999999;
$NeutralLight400: #666666;

body {
  width: 100vw;
  height: 100vh;
  color: $foreground;
  background: $background;
  font-family: Arial, Helvetica, sans-serif;
}

.greenlayer {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.bluelayer {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 31%, rgba(0, 102, 255, 0.55) 68%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 31%, rgba(0, 102, 255, 0.55) 68%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 31%, rgba(0, 102, 255, 0.55) 68%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.blackhorizontal {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.blackedge {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.blackvertical {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(166deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(166deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.simple-transitoin {
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navItem {
  p {
    opacity: 0;
  }

  &:hover {
    background-color: $NeutralLight100;
    color: $NeutralDark400;

    &.text-primary-300 {
      color: $primary300;
    }

    p {
      opacity: 1;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}