@import '../assets/variables/font.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

$background: #000;
$foreground: #e1e1e1;

$primary100: #CCE0FF;
$primary200: #4D94FF;
$primary300: #0066FF;
$primary400: #003D99;

$secondary100: #BFE5C6;
$secondary200: #8FD29C;
$secondary300: #5FBE71;
$secondary400: #397244;

$NeutralDark100: #444444;
$NeutralDark200: #2C2C2C;
$NeutralDark300: #262626;
$NeutralDark400: #1F1F1F;

$NeutralLight100: #F5F5F5;
$NeutralLight200: #CCCCCC;
$NeutralLight300: #999999;
$NeutralLight400: #666666;

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: $foreground;
  background: $background;
  font-family: Arial, Helvetica, sans-serif;
}

.greenlayer {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(95, 190, 113, 1) 75%, rgba(95, 190, 113, 1) 84%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  animation-name: colorfullayer;
  animation-duration: 30s;
  animation-delay: #{random(2000)+300}+ms;
}

.bluelayer {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 30%, rgba(0, 102, 255, 0.55) 60%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 30%, rgba(0, 102, 255, 0.55) 60%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 102, 255, 0.35) 30%, rgba(0, 102, 255, 0.55) 60%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  animation-name: colorfullayer;
  animation-duration: 50s;
  animation-delay: #{random(2000)+500}+ms;
}

.blackhorizontal {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 102, 255, 0) 47%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  animation-name: colorfullayer;
  animation-duration: 40s;
  animation-delay: #{random(2000)+1000}+ms;
}

.blackedge {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  animation: blacklayer 20s ease infinite;
  animation-delay: #{random(2000)+1000}+ms;
}

.blackvertical {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(166deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(166deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  animation: blacklayer 20s cubic-bezier(0.4, 0, 1, 1) infinite;
  animation-delay: #{random(2000)+2000}+ms;
}

@keyframes colorfullayer {
  0% {
    background-size: 100% 100%;
  }

  10% {
    background-size: 150% 150%;
  }

  20% {
    background-size: 120% 120%;
  }

  30% {
    background-size: 100% 100%;
  }

  40% {
    background-size: 110% 110%;
  }

  50% {
    background-size: 130% 130%;
  }

  60% {
    background-size: 100% 100%;
  }

  70% {
    background-size: 100% 100%;
  }

  80% {
    background-size: 100% 100%;
  }

  90% {
    background-size: 130% 130%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes blacklayer {
  0% {
    background-size: 100% 100%;
  }

  10% {
    background-size: 150% 150%;
  }

  20% {
    background-size: 120% 120%;
  }

  30% {
    background-size: 170% 170%;
  }

  40% {
    background-size: 130% 130%;
  }

  50% {
    background-size: 140% 140%;
  }

  60% {
    background-size: 190% 190%;
  }

  70% {
    background-size: 150% 150%;
  }

  80% {
    background-size: 100% 100%;
  }

  90% {
    background-size: 150% 150%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.simple-transition {
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-7-5xl {
  font-size: 4.85rem;
}

.p-8p {
  padding: 8%;
}

.p-4p {
  padding: 4.45%;
}

.gap-4p {
  gap: 4.45%;
}

.gap-2p {
  gap: 2.2%;
}

.max-w-60p {
  max-width: 60%;
}

.navItem {
  p {
    opacity: 0;
  }

  &:hover {
    background-color: $NeutralLight100;
    color: $NeutralDark400;

    &.text-primary-300 {
      color: $primary300;
    }

    p {
      opacity: 1;
    }
  }
}

.hide {
  opacity: 0;
}

.line-height {
  line-height: 30px;
}

.no-height {
  height: 0;
  padding: 0 !important;

  * {
    padding: 0 !important;
    height: 0;
  }

}


.text-no-wrap {
  text-wrap-mode: nowrap;
}

.tabs {
  border: 1px solid $NeutralDark100;
  border-radius: 16px;

  &>* {
    border-radius: 8px;
  }
}

.project-main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 7fr;

  .desc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr fit-content(0px);
  }
}

.active-project {
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: 999px;
}

.job-box-radius {
  border-radius: 4.5% / 36px;
}

.job-box {
  background: rgb(30, 30, 30);
  background: -moz-linear-gradient(342deg, rgba(30, 30, 30, 0.7) 0%, rgba(0, 0, 0, 0.5) 63%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(342deg, rgba(30, 30, 30, 0.7) 0%, rgba(0, 0, 0, 0.5) 63%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(342deg, rgba(30, 30, 30, 0.7) 0%, rgba(0, 0, 0, 0.5) 63%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e", endColorstr="#000000", GradientType=1);
}

.main-page {
  width: 100vw;
  height: 100.1vh
}

.f-round {
  border-radius: 99999px;
}

.h-60p {
  height: 60%;
}

.h-20p {
  height: 20%;
}

.h-15p {
  height: 15%;
}

.h-10p {
  height: 10%;
}

.h-5p {
  height: 5%;
}

.right-0p {
  right: calc(0% - 100px);
}

.right-4p {
  right: calc(4% - 50px);
}

.right-50p {
  right: calc(50% - 50px);
}

.right-96p {
  right: calc(96% - 50px);
}

.right-100p {
  right: calc(100%);
}

.top-0p {
  top: calc(0% - 100px);
}

.top-10p {
  top: calc(10% - 50px);
}

.top-50p {
  top: calc(50% - 50px);
}

.top-96p {
  top: calc(96% - 50px);
}

.top-100p {
  top: calc(100%);
}

.photoshop {
  right: calc(5% - 50px);
  top: calc(9% - 50px);
}

.material {
  right: calc(45% + 60px);
  top: calc(0% - 60px);
}

.rust {
  right: calc(33% - 60px);
  top: calc(4% - 60px);
}

.prime {
  right: calc(58% + 60px);
  top: calc(7% - 60px);
}

.sass {
  top: calc(0% - 75px);
  right: calc(60% + 60px);
}

.git {
  top: calc(0% - 90px);
  right: calc(46% - 60px);
}

.agile {
  top: calc(0% - 60px);
  right: calc(27% - 60px);
}

.illustrartor {
  top: calc(28% - 60px);
  right: calc(0% - 60px);
}

.xd {
  top: calc(41% - 60px);
  right: calc(0% - 55px);
}

.socket {
  top: calc(46% + 60px);
  right: calc(0% - 70px);
}

.api {
  top: calc(61% + 60px);
  right: calc(0% - 60px);
}

.postgress {
  top: calc(100% - 10px);
  right: calc(0% + 55px);
}

.sql {
  top: calc(100% + 15px);
  right: calc(10% + 60px);
}

.linq {
  top: calc(58% + 60px);
  right: calc(0% - 85px);
}

.winform {
  top: calc(72% + 60px);
  right: calc(0% - 60px);
}

.asp {
  top: calc(90% + 60px);
  right: calc(23% - 60px);
}

.ado {
  top: calc(95% + 60px);
  right: calc(35% - 60px);
}

.dapper {
  top: calc(100% + 57px);
  right: calc(49% - 60px);
}

.unity {
  top: calc(100% + 30px);
  right: calc(43% + 60px);
}

.nest {
  top: calc(86% + 60px);
  right: calc(89% - 60px);
}

.docker {
  top: calc(90% + 60px);
  right: calc(100% - 50px);
}

.rabit {
  top: calc(97% + 60px);
  right: calc(88% - 60px);
}

.vb {
  top: calc(100% + 70px);
  right: calc(71% - 60px);
}

.node {
  top: calc(90% - 70px);
  right: calc(100% - 20px);
}

.express {
  top: calc(44% + 65px);
  right: calc(100% - 10px);
}

.tail {
  top: calc(1% + 60px);
  right: calc(100% - 28px);
}

.boot {
  top: calc(12% + 60px);
  right: calc(100% - 10px);
}

.jquery {
  top: calc(0% + 50px);
  right: calc(100% + 10px);
}

.html {
  top: calc(7% + 60px);
  right: calc(100% + 36px);
}

.css {
  top: calc(16% + 60px);
  right: calc(100% + 43px);
}



@media only screen and (max-width: 1366px) {
  .md-max-w-50 {
    max-width: 50%;
  }

  .md-loading-5 {
    line-height: 5rem;
  }

  .md-text-5xl {
    font-size: 2.2rem;
  }

  .md-py-5p {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .mx-0p{
    margin: 0;
  }

  .text-2xl-md{
    font-size: 1.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}