@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/HubotSans-Black.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/HubotSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/HubotSans-Bold.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/HubotSans-SemiBold.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/HubotSans-Medium.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/HubotSans-Regular.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/HubotSans-Light.ttf');
}

@font-face {
    font-family: 'hubot';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/HubotSans-ExtraLight.ttf');
}